openapi: "3.0.3"
info:
  title: AeroLink Notification Service
  description: Stateless event-driven notification delivery via SES (email) and SNS (SMS). Exposes a delivery log and admin test endpoint only.
  version: "1.0.0"
servers:
  - url: https://api.aerolink.app/notifications
  - url: http://localhost:3007

tags:
  - name: notifications
    description: Notification history and admin controls

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      required: [statusCode, message, correlationId]
      properties:
        statusCode: { type: integer }
        message: { type: string }
        correlationId: { type: string, format: uuid }

    NotificationType:
      type: string
      enum:
        - BOOKING_CONFIRMED
        - BOOKING_CANCELLED
        - PAYMENT_FAILED
        - PAYMENT_REFUNDED
        - CHECKIN_CONFIRMED
        - BAGGAGE_DELIVERED
        - FLIGHT_DELAYED
        - FLIGHT_CANCELLED
        - WELCOME

    NotificationChannel:
      type: string
      enum: [EMAIL, SMS]

    NotificationStatus:
      type: string
      enum: [SENT, DELIVERED, FAILED, SUPPRESSED]

    NotificationRecord:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/NotificationType" }
        channel: { $ref: "#/components/schemas/NotificationChannel" }
        status: { $ref: "#/components/schemas/NotificationStatus" }
        subject: { type: string, nullable: true, description: "Email subject line" }
        referenceId: { type: string, description: "bookingId, flightId, or bagId that triggered this notification" }
        sentAt: { type: string, format: date-time, nullable: true }
        failureReason: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }

    TestNotificationRequest:
      type: object
      required: [userId, type, channel]
      properties:
        userId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/NotificationType" }
        channel: { $ref: "#/components/schemas/NotificationChannel" }

paths:
  /notifications/{userId}:
    get:
      tags: [notifications]
      summary: Get notification history for a user (own only, or AIRLINE_ADMIN)
      operationId: getNotificationHistory
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: type
          in: query
          schema: { $ref: "#/components/schemas/NotificationType" }
        - name: channel
          in: query
          schema: { $ref: "#/components/schemas/NotificationChannel" }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: Paginated notification records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/NotificationRecord" } }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
        "403":
          description: Cannot view another user's notifications
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /notifications/test:
    post:
      tags: [notifications]
      summary: Send a test notification (AIRLINE_ADMIN only)
      operationId: sendTestNotification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TestNotificationRequest" }
      responses:
        "202":
          description: Test notification dispatched
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationRecord" }
        "403":
          description: AIRLINE_ADMIN role required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /health:
    get:
      tags: [notifications]
      summary: Liveness probe
      operationId: health
      responses:
        "200": { description: Healthy }

  /ready:
    get:
      tags: [notifications]
      summary: Readiness probe
      operationId: ready
      responses:
        "200": { description: Ready }
        "503": { description: Not ready }
